*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: "Inconsolata", monospace;
    background-color: #31352e;
    font-size: 10px;
}

.loader {
    position: absolute;
    z-index: 99;
    background-color: #31352e;
    width: 100vw;
    height: 100vh;
    color: #eed6d3;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #928d89;
    font-size: 2.4rem;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 72rem;
    top: 35vh;
    margin: 0 auto;
}

.typing-test {
    color: #a49393;
    font-size: 2.2rem;
}

.word {
    display: inline-block;
}

.correct {
    color: #eed6d3;
}

.incorrect {
    color: #ffb2b2;
    background-color: #8d6666;
}

.cursor {
    color: #000000;
    background-color: #eed6d3;
}

.wpm {
    color: #eed6d3;
}

.quote-author {
    font-size: 1.6rem;
    text-align: right;
    margin-top: 2.4rem;
    padding-top: 0.4rem;
    border-top: 0.2rem solid #3B4039;
}

.author {
    padding: 0.4rem 0.8rem;
    background-color: #3B4039;
}

.potatoe-wrap {
    display: inline-block;
}

.test {
    display: inline-block;
    max-width: 50rem;
}

.stats {
    margin-bottom: 2rem;
    border-bottom: 0.2rem solid #3B4039;
}

.word-stats {
    padding: 0rem 0.8rem;
    margin-left: 0.8rem;
    background-color: #3B4039;
}

.potatoe {
    width: 15rem;
    height: 15rem;
    margin-right: 1.6rem;
}

.potatoe-idle {
    background-image: url("./../img/potater-idle.gif");
}

.potatoe-slow {
    background-image: url("./../img/potater-slow-typing.gif");
}

.potatoe-mod {
    background-image: url("./../img/potater-mod-typing.gif");
}

.potatoe-fast {
    background-image: url("./../img/potater-fast-typing.gif");
}

.preload {
    display: none;
}
