*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: "Inconsolata", monospace;
    background-color: #31352e;
}

.loader {
    position: absolute;
    z-index: 99;
    background-color: #31352e;
    width: 100vw;
    height: 100vh;
    color: #eed6d3;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #928d89;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.container {
    position: relative;
    max-width: 650px;
    top: 35vh;
    display: block;
    margin: 0 auto;
}

.typing-test {
    color: #a49393;
    font-size: 1.4rem;
    margin: 1rem 0rem;
}

.word {
    display: inline-block;
}

.correct {
    color: #eed6d3;
}

.incorrect {
    color: #ffb2b2;
    background-color: #8d6666;
}

.cursor {
    color: #000000;
    background-color: #eed6d3;
}

.wpm {
    color: #eed6d3;
}

.quote-author {
    font-size: 1.1rem;
    text-align: right;
    margin-right: 3rem;
}
